# This is an EditorConfig file
# http://EditorConfig.org
# It configures your editor or IDE according to the project standards

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[{*.md,*.markdown,*.mdown}]
# Trailing whitespace is significant in Markdown
trim_trailing_whitespace = false
