name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present
        ./script/cibuild
    - name: validate test case
      uses: docker://stormforger/cli:v0.32.0
      env:
        STORMFORGER_JWT: ${{ secrets.STORMFORGER_JWT }}
      with:
        args: test-case validate acme-inc /github/workspace/dist/acme-shop.js
